    .research-innovation {
        /* background: url("../../_images/homepage/img-research-and-innovation.webp"); */
        background-image: image-set(
            url('../../_images/homepage/img-research-and-innovation/small.webp') 1x, /* smaller image */
            url('../../_images/homepage/img-research-and-innovation/original.webp') 4x
            url('../../_images/homepage/img-research-and-innovation/medium.webp') 2x, /* medium-sized image for higher density screens */
            url('../../_images/homepage/img-research-and-innovation/large.webp') 3x,  /* larger image for larger screens or high-density displays */
        ) !important;
        /* background-image: url("../../_images/homepage/img-research-and-innovation.webp") !important; */
    }

    .attend-cta {
        /* background: url("../../_images/homepage/img-financial-aid-scholorships.webp"); */
        background-image: image-set(
            url('../../_images/homepage/img-financial-aid-scholorships/small.webp') 1x, /* smaller image */
            url('../../_images/homepage/img-financial-aid-scholorships/medium.webp') 2x, /* medium-sized image for higher density screens */
            url('../../_images/homepage/img-financial-aid-scholorships/large.webp') 3x,  /* larger image for larger screens or high-density displays */
            url('../../_images/homepage/img-financial-aid-scholorships/original.webp') 4x
        ) !important;
        /* background-image: url("../../_images/homepage/img-financial-aid-scholorships.webp") !important; */
    }

    .student-life-alt {
        /* background: url("../../_images/homepage/img-our-thriving-student-life.webp"); */
        
        background-image: image-set(
            url('../../_images/homepage/img-our-thriving-student-life/small.webp') 1x, /* smaller image */
            url('../../_images/homepage/img-our-thriving-student-life/medium.webp') 2x, /* medium-sized image for higher density screens */
            url('../../_images/homepage/img-our-thriving-student-life/large.webp') 3x,  /* larger image for larger screens or high-density displays */
            url('../../_images/homepage/img-our-thriving-student-life/original.webp') 4x
        ) !important;

        /* background-image: url("../../_images/homepage/img-our-thriving-student-life.webp") !important; */
    }

    .economic-impact-report-top-ten {
        /* background-image: url("../../_images/homepage/img-our-thriving-student-life.webp") !important; */
        background-image: image-set(
            url('../../_images/homepage/img-stats-top-ten/small.webp') 1x, /* smaller image */
            url('../../_images/homepage/img-stats-top-ten/medium.webp') 2x, /* medium-sized image for higher density screens */
            url('../../_images/homepage/img-stats-top-ten/large.webp') 3x,  /* larger image for larger screens or high-density displays */
            url('../../_images/homepage/img-stats-top-ten/original.webp') 4x
        ) !important;
        
        /* background-image: url('../../_images/about/economic-impact-report/img-stats-top-ten.webp') !important; */
    }



    .economic-impact-report-public-service {
        /* background-image: url("../../_images/homepage/img-our-thriving-student-life.webp") !important; */
        background-image: image-set(
            url('../../_images/homepage/img-stats-number-one-public-service/small.webp') 1x, /* smaller image */
            url('../../_images/homepage/img-stats-number-one-public-service/medium.webp') 2x, /* medium-sized image for higher density screens */
            url('../../_images/homepage/img-stats-number-one-public-service/large.webp') 3x,  /* larger image for larger screens or high-density displays */
            url('../../_images/homepage/img-stats-number-one-public-service/original.webp') 4x
        ) !important;
        
        /* background-image: url('_images/about/economic-impact-report/img-stats-number-one-public-service.webp') !important; */
    }
    